import React, { FC } from "react";

const defaultProps = {};
type Props = {} & typeof defaultProps;

const {{properCase name}}<FC> = (props: Props) => {
  return (
    <div>text</div>
  );
};

{{properCase name}}.defaultProps = defaultProps;
export default {{properCase name}};