import React, { FC } from "react";

const defaultProps = {};
type Props = {} & typeof defaultProps;

export const {{pascalCase name}}:FC<Props> = ( props ) => {
  return (
    <div>{{pascalCase name}}</div>
  );
};
