name: lint
on:
  push:
    paths:
     - .github/**
     - server/**
    branches: [ "dev","main" ]
  pull_request:
    paths:
     - .github/**
     - server/**
    branches: [ "dev","main" ]
permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: '1.19'
          cache: false
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@v2
        with:
          workdir: ./server